* {
	margin: 0;
	/* border: 1px solid blue; */
}
	
body {
	
}

a {
	
}

i {
	
}

.navTop {
	height: 60px;
}

.navTop a {
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 13px;
	padding: 20px 10px;
	font-family: arial, sans-serif;
}

.navTop a:hover {
	text-decoration: underline;
}

.navLeft {
	overflow: hidden;
	float: left;
	padding-left: 13px;
	padding-top: 2px;

}

#tl {

}

.navLeft a {
	float: left;
}

.navRight {
	overflow: hidden;
	float: right;
	padding-right: 12px;
	padding-top: 2px;
}

#tr {

}

.navRight a {
	float: left;
}

.navRight a:hover {
	color: gray;
}

.navRight i {
	text-align: center;
	color: gray;
}

.navRight i:hover {
	color: #000000;
}

/* #pp {
	height: 34px;
	width: 34px;
} */

#pp i {
	width: 31px;
	height: 31px;
	border: 1px solid gray;
	border-radius: 17px;
	padding: 1px;
	margin: 14px 15px;
}

#pp i:hover {
	border-color: #000000;
}

#apps i {
	padding-left: 3px;
}
