* {
	padding: 0;
	margin: 0;
}
	
body {
	
}

a {
	padding: 10% 0 10% 10px;
}

i {
	padding: 5% 0 10% 10px;
}

.navTop {
	padding-top: 15px;
}

.navTop a {
	text-align: center;
	text-decoration: none;
	color: gray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: arial, sans-serif;
}

.navTop a:hover {
	color: #000000;
	text-decoration: underline;
}

.navLeft {
	overflow: hidden;
	float: left;
}

#tl {
	position: absolute;
	margin: 7px 0 0 10px;
}

.navLeft a {
	float: left;
	padding: 0 0 0 16px;
}

.navRight {
	overflow: hidden;
	float: right;
	padding: 0px 30px;
}

#tr {

}

.navRight a {
	float: left;
}

.navRight i {
	padding: 0 0 0 15px;
	text-align: center;
	color: gray;
}

.navRight i:hover {
	color: #000000;
}

#pp i {
	padding: 0;
	width: 30px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 16px;
	margin-left: 0 0 0 15px;
}

#pp i:hover {
	border-color: #000000;
}

