* {
	margin: 0;
	padding: 0;
}

.navbar {
	height: 70px;
	width: 100%;
}

h1 {
	
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

ul.tabs {
	text-align: center;
	border: 1px solid green;
}

ul li {
	
}

ul ul {
	display: none;
}

ul li:hover > ul {
	display: block;
}

ul li.tab {
	float: left;
}

ul li.item {
	text-align: center;
	border: 1px solid black;
}

ul.dropdown {
	width: 25%;
}

#tab01 {
	width: 25%;
}

#tab02 {
	width: 25%;
}

#tab03 {
	width: 25%;
}